<!-- HEADER -->
<header class="header">
  <div class="logo-container">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/ammiboapijorgeluistuzmoreno.appspot.com/o/Sin%20t%C3%ADtulo%20(1653%20x%201400%20px).png?alt=media&token=3924f8e2-a4c2-43c3-bae1-f8d7b8e9d015"
      alt="Logo Logix"
      class="logo"
    />
  </div>
  <nav class="nav-links">
    <a routerLink="/">Inicio</a>
    <span>|</span>
    <a routerLink="/map">Rutas</a>
    <span>|</span>
    <a routerLink="/about">Sobre Nosotros</a>
    <span>|</span>
    <a routerLink="/contact">Contacto</a>
  </nav>
  <div class="auth-buttons">
    <button routerLink="/login">Iniciar sesión</button>
    <button routerLink="/register">Crear cuenta</button>
  </div>
</header>

<!-- Acá va el contenido de las rutas hijas -->
<router-outlet></router-outlet>
