@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.content {
  background: linear-gradient(135deg, #003060, #004080);
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icono-header {
  margin-top: 40px;
  width: 100px;
  height: 100px;
}

.content h1 {
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.guia-section {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.guia-section p {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
}

.guia-input {
  padding: 10px;
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  font-family: 'Segoe UI', sans-serif;
}

.error-input {
  border-color: red;
}

.main-btn {
  background-color: white;
  color: #003060;
  font-size: 18px;
  padding: 12px 24px;
  border: 2px solid #003060;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.main-btn:hover {
  background-color: #003060;
  color: white;
}

.resultado {
  margin: 10px auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Segoe UI', sans-serif;
  color: #003060;
}

.resultado h2,
.resultado h3 {
  font-family: 'Bebas Neue', sans-serif;
  color: #003060;
}

.timeline {
  list-style: none;
  padding-left: 20px;
  border-left: 4px solid #003060;
  margin-top: 20px;
}

.timeline li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
}

.timeline .dot {
  position: absolute;
  top: 0;
  left: -10px;
  width: 12px;
  height: 12px;
  background-color: #003060;
  border-radius: 50%;
}
.error-box {
  max-width: 500px;
  margin: 20px auto; /* centrar horizontalmente */
  padding: 15px 20px;
  background-color: #ffe2e2;
  color: #b30000;
  border-left: 6px solid #b30000;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

